# Environment & Secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.mypy_cache/

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Yahoo Fantasy OAuth
oauth2.json
.yahoofantasy
token.json
